{
"pluginSearchDirs": ["./client"],
  "overrides": [
    {
	    "files": ["*.ejs"],
      "options": {
        "parser": "html",
"htmlWhitespaceSensitivity": "ignore",
"jsxBracketSameLine": true
      }
    }
  ]
}
