@tailwind base;

@tailwind components;

html {
	@apply h-full;
}
body {
	font-family: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                sans-serif;
	@apply flex flex-col h-full;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial Black, sans-serif;
}

.event-link:hover {
	@apply underline;
}
.content {
	flex-grow: 1;
}

footer {
	@apply bg-black text-white;

}

.twitter-login {
	color: white;
	background: #1DA1F2;

	&:hover {
		@apply underline;
	}
}

.container {
	@apply p-4
}
@screen sm {
	.container {
		@apply p-0
	}
}

.login-container {
	max-width: 300px;
}

.turbolinks-progress-bar {
	height: 5px;
	background-color: green;
}

.hr-text {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap; 
}

.hr-text > span {
	position: relative;
	display: inline-block;
}

.hr-text > span:before,
.hr-text > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	@apply bg-gray-400;
}

.hr-text > span:before {
	right: 100%;
	margin-right: 15px;
}

.hr-text > span:after {
	left: 100%;
	margin-left: 15px;
}

.btn {
	@apply rounded-lg p-1 px-5;
	&.btn-green {
		@apply bg-green-700 border border-green-600 text-white;
		&:hover {
			@apply bg-green-600;
		}
	}
	&.btn-white {
		@apply bg-white border border-gray-600;
		&:hover {
			@apply bg-gray-100 border border-gray-900;
		}
	}
	&.btn-purple {
		@apply bg-purple-800 text-white;
		&:hover {
			@apply bg-purple-700;
		}
	}
	&:disabled {
		@apply cursor-default bg-gray-300 border border-gray-700;
		&:hover {

			@apply bg-gray-300;
		}
	}
	&.btn-blue {
		@apply bg-blue-300 border border-blue-600;
		&:hover {
			@apply bg-blue-400 border border-blue-800;
		}
	}

	&.btn-red {
		@apply bg-red-800 text-white;
		&:hover {
			@apply bg-red-700 text-white;
		}
	}
}

.btn-link {
	@apply font-medium;
	&.btn-purple {
		@apply text-purple-800;
		&:hover {
			@apply text-purple-700 underline;
		}
	}

	&.btn-green {
		@apply text-green-800;
		&:hover {
			@apply text-green-700 underline;
		}
	}
	&.btn-red {
		@apply text-red-800;
		&:hover {
			@apply text-red-700 underline;
		}
	}
}

.input {
	@apply border-gray-700 border p-1;
	min-width:0;
	&:focus {
		outline: solid theme("colors.blue.700") 1px;
	}
}

.required-text {
	&::after {
		content: "*";
		@apply text-red-700;
	}
}

.icon {
	width: 1em;
	height: 1em;
	display: inline;
	fill: none;
	stroke: currentcolor;
	stroke-width: 7%;
	vertical-align: middle;
	&.icon-calendar, &.icon-clipboard {
		position:relative;
		bottom: .100em;
	}
	&.icon-fill {
		fill: currentcolor;

	}
	&.octicon {
		fill: currentcolor;
		stroke: none;
	}

}

.font-bold .icon {
	stroke-width:10%;
}



@responsive {
	.banner-text {
		text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px 0px 0px white, -2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white;
	}
	.banner-text-none{
		text-shadow:none;
	}

	.banner-green {
		background-color: #75e3a7;
	}

	.bg-juniper-city {
		background-image: url("/img/junipercity.png");
		background-size:contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.bg-juniper-city-repeat {
		background-repeat:repeat;
	}
	.bg-juniper-city-none {
		background: none;
	}
}





@import url("./md.css");

@tailwind utilities;
