@tailwind base;

@tailwind components;


body {
	font-family: monospace;
}

.event-link:hover {
	@apply underline;
}

.twitter-login {
	color: white;
	background: #1DA1F2;
	
	&:hover {
		@apply underline;
	}
}

.login-container {
	max-width: 500px;
}

@tailwind utilities;
