@tailwind base;

@tailwind components;


body {
	font-family: monospace;
	@apply flex flex-col h-full;
}

.event-link:hover {
	@apply underline;
}
.content {
	flex-grow: 1;
	@apply mx-auto;
}

footer {
	@apply bg-black text-white;

}

.twitter-login {
	color: white;
	background: #1DA1F2;
	
	&:hover {
		@apply underline;
	}
}

.login-container {
	max-width: 500px;
}

@tailwind utilities;
