@tailwind base;

@tailwind components;


body {
	font-family: monospace;
	@apply flex flex-col h-full;
}

.event-link:hover {
	@apply underline;
}
.content {
	flex-grow: 1;
}

footer {
	@apply bg-black text-white;

}

.twitter-login {
	color: white;
	background: #1DA1F2;
	
	&:hover {
		@apply underline;
	}
}

.container {
	@apply p-4
}
@screen sm {
	.container {
		@apply p-0
	}
}

.login-container {
	max-width: 500px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

.hr-text {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.hr-text > span {
    position: relative;
    display: inline-block;
}

.hr-text > span:before,
.hr-text > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    @apply bg-gray-400;
}

.hr-text > span:before {
    right: 100%;
    margin-right: 15px;
}

.hr-text > span:after {
    left: 100%;
    margin-left: 15px;
}

@tailwind utilities;
