@tailwind base;

@tailwind components;

html {
	@apply h-full;
}
body {
	font-family: monospace;
	@apply flex flex-col h-full;
}

.event-link:hover {
	@apply underline;
}
.content {
	flex-grow: 1;
}

footer {
	@apply bg-black text-white;

}

.twitter-login {
	color: white;
	background: #1DA1F2;
	
	&:hover {
		@apply underline;
	}
}

.container {
	@apply p-4
}
@screen sm {
	.container {
		@apply p-0
	}
}

.login-container {
	max-width: 500px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

.hr-text {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.hr-text > span {
    position: relative;
    display: inline-block;
}

.hr-text > span:before,
.hr-text > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    @apply bg-gray-400;
}

.hr-text > span:before {
    right: 100%;
    margin-right: 15px;
}

.hr-text > span:after {
    left: 100%;
    margin-left: 15px;
}

.btn {
	@apply rounded-lg p-1 px-2;
	&.btn-green {
		@apply bg-green-300 border border-green-600;
		&:hover {
			@apply bg-green-400 border border-green-800;
		}
	}
	&.btn-white {
		@apply bg-white border border-gray-600;
		&:hover {
			@apply bg-gray-100 border border-gray-900;
		}
	}
}

.input {
	@apply border-gray-700 border p-1;
	&:focus {
			outline: solid theme("colors.blue.700") 1px;
	}
}

@import url("./md.css");

@tailwind utilities;
