.md, trix-editor, .trix-c {
	@apply mx-auto;
	width:100%;
	h1 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-lg font-bold;
	}
	a {
		@apply underline text-blue-700;
	}
	.main-nav {
		@apply text-lg;
	}
	ul {
		@apply list-disc list-inside pl-4;
		ul {
			list-style-type: circle;
		}
	}
	ol {
		@apply list-decimal pl-4 list-inside;
	}
	p {
		@apply my-2;
	}

	h2 {
		@apply text-2xl font-bold;
	}
	blockquote {
		@apply ml-1 pl-2 border-l border-gray-500;
	}

}

trix-toolbar {
	.trix-button-group[data-trix-button-group="file-tools"] {
		display: none;
	}
}

@screen sm {
    .md { max-width: theme('screens.sm'); }
}
@screen md {
    .md { max-width: theme('screens.md'); }
}
@screen lg {
    .md { max-width: theme('screens.lg'); }
}
@screen xl {
    .md { max-width: theme('screens.xl'); }
}
