{% extends "layout.njk" %}
{%block content %}
	<div class="container mx-auto text-center">
		<h1 class="text-6xl text-center">404</h1>
		<p class="text-2xl">
		This page does not exist
		</p>
		<a href="/" class="text-2xl font-bold hover:underline text-blue-700"
								>Back to home</a
							>
	</div>
		{%endblock%}
