{%extends "layout.njk"%} 
{%block title%}Create A New Event{%endblock%} 
{%from "partials/form_messages.njk" import messages%}
{%block css%}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.css"/>
{%endblock%} 
{%block content%}
	<div class="container mx-auto content p-4 sm:p-none">
		<h1 class="text-xl font-bold">Create an event</h1>
		<div class="my-2">
			{{messages("create")}}
		</div>
		<form
			data-controller="create"
			data-create-editing="{{"true" if event.id else "false"}}"
			data-action="create#createEvent input->create#formInput"
			data-target="create.form"
			data-create-event-date="{{event.date if event.date}}"
			autocomplete="off"
			>
			<input type="hidden" name="edited_event" value="{{event.id}}" />
			<div>
				<label class="font-bold cursor-pointer required-text" for="event-name">Event Name</label>
				<input
					id="event-name"
					class="input w-full"
					type="text"
					name="name"
					placeholder="Event Name"
					required
					value="{{event.name}}"
					/>
			</div>

			<div class="mt-2">
				<fieldset>
					<legend class="font-bold">Event Date</legend>
					<div class="ml-2">
						<div class="p-2 border border-gray-300">
							<div class="w-2/12 required-text">Start</div>
							<div class="flex items-center">
								<div class="">
									<label class="sr-only font-bold cursor-pointer" for="event-start-date">
										Start Date
									</label>
									<input
										id="event-start-date"
										type="date"
										name="date"
										class="input"
										placeholder="Start Date"
										value="{{date.format(date.fromUnixTime(event.date/1000), "yyyy-LL-dd") if event.date}}"
										/>
								</div>
								<div class="ml-2">
									<label class="sr-only font-bold cursor-pointer" for="event-start-time">
										Start Time
									</label>
									<input
										id="event-start-time"
										type="time"
										name="time"
										class="input"
										placeholder="Start Time"
										value="{{date.format(date.fromUnixTime(event.date/1000), "HH:mm") if event.date}}"
										/>
								</div>
							</div>
						</div>
						<div class="p-2 border border-gray-300 mt-1">
							<div class="w-2/12">End</div>
							<div class="flex items-center">
								<div class="">
									<label class="sr-only font-bold cursor-pointer" id="event-end-date">
										End Date 
									</label>
									<input
										id="event-end-date"
										type="date"
										name="end_date"
										class="input"
										placeholder="End Date"
										value="{{date.format(date.fromUnixTime(event.end_date/1000), "yyyy-LL-dd") if event.end_date}}"
										/>
								</div>
								<div class="ml-2">
									<label class="sr-only font-bold cursor-pointer" id="event-end-time">
										Time
									</label>
									<input
										id="event-end-time"
										type="time"
										name="end_time"
										class="input"
										placeholder="End Time"
										value="{{date.format(date.fromUnixTime(event.end_date/1000), "HH:mm") if event.end_date}}"
										/>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="mt-2">
				<label class="font-bold cursor-pointer" for="event-location">Event Location</label>
				<input
					id="event-location"
					class="input w-full"
					type="text"
					name="location"
					placeholder="Event Location"
					value="{{event.location}}"
					/>
			</div>
			<div class="mt-2" data-controller="trix">
				<input type="hidden" id="description" value="{{event.description}}" name="description" />
				<label class="font-bold cursor-pointer required-text" for="editor">Event Description</label>
				<trix-editor input="description" id="editor"></trix-editor>
			</div>
			{%if groups.length %}
				<div class="mt-2">
					<label class="font-bold cursor-pointer">
						Create event in group
						<select name="group_id" class="input">
							<option value="">No Group</option>
							{%for group in groups%} 
								{%set selected = group.id === forGroup or event.group_id === group.id%}
								<option value="{{group.id}}" {{'selected' if selected}}>
								{{group.name}}
								</option>
							{%endfor%}
						</select>
					</label>
				</div>
			{%endif%}
			<div class="mt-2 font-bold">
				<label class="cursor-pointer">
					Private: <input type="checkbox" name="is_private" {{'checked' if not event.id or event.is_private}} class="cursor-pointer"/>
				</label>
			</div>
			<div class="font-bold">
				<label class="cursor-pointer">
					Show Participants: <input type="checkbox" name="show_participants"
																										class="cursor-pointer" {{'checked' if event.show_participants}} />
				</label>
			</div>
			<div class="font-bold">
				<label class="cursor-pointer">
					Allow Comments: <input type="checkbox" name="allow_comments" {{'checked'
																								 if event.allow_comments}} class="cursor-pointer" />
				</label>
			</div>
			<div class="font-bold">
				<label class="cursor-pointer">
					Allow Participants to invite others: <input type="checkbox" {{'checked'
																											if event.can_invite}} name="can_invite" class="cursor-pointer" />
				</label>
			</div>

			<hr />
			<div class="mt-2">
				<button type="submit" class="btn btn-green">
					{{'Save Edits' if event.id else 'Create Event'}}
				</button>
				{%if event.id %}
					<a href="/events/{{event.slug}}" class="btn btn-white p-2">Cancel</a>
				{%endif%}
			</div>
		</form>
	</div>
{%endblock%}
