<html>
	<head>
		<title>EVENT</title>
		<script src="/static/js/index.js"></script>
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>
		<div class="container mx-auto">
			<h1 class="font-bold text-2xl"><%=event.name%></h1>
			<div>
				created by: <%=event.creator.name%>
			</div>
			<div>
				<%=event.description%>
			</div>
			<div>
				<%=JSON.stringify(event) %>
			</div>
		</div>
	</body>
</html>
