<div class="container mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl">Your Groups</h1>
    <a href="/groups/create" class="text-lg bg-teal-300 p-1 hover:underline"
      >Create a group</a
    >
  </div>
  <ul class="mt-4">
    <%groups.forEach((group)=>{%>
    <li class="mb-2">
      <a
        class="bg-black p-1 text-white hover:underline"
        href="/groups/<%=group.custom_path || group.id%>"
        ><%=group.name%></a
      >
      <p class="mt-1"><%=group.description%></p>
    </li>
    <%})%>
  </ul>
</div>
