{%extends "group_layout.njk"%}
{%import "partials/form_messages.njk" as messages%}
{%from "partials/group_topnav.njk" import group_nav%}
{%from "./homepage.njk" import eventsList%}
{%block layout%}
	<div class="content container mx-auto h-full mt-4" data-controller="group-detail">
		<div class="mt-4  p-4">
			<div class="sm:flex items-center">
				<h3 class="text-xl">Events </h3>
				{%if canCreate %}


					<a href="/create?group={{group.id}}" class="btn btn-pink text-sm sm:ml-4">Create Event</a>
				{%endif%}
			</div>
			<div class="mt-5">
				{{eventsList(events)}}
			</div>
		</div>
	</div>
{%endblock%}
