{%extends "layout.njk"%}
{%import "partials/form_messages.njk" as messages%}
{%from "partials/group_topnav.njk" import group_nav%}
{%block content%}
	<div class="content container mx-auto h-full" data-controller="group-detail">


		<h1 class="text-2xl flex items-center justify-center"><span>{{group.name}}</span> <span class="ml-2 align-middle"><span class="p-1 text-sm text-white bg-green-800 rounded align-middle">{{members.length}} {{"members" if members.length > 1 else "member"}}</span></span>
			<a class="ml-2 btn btn-blue text-xs" href="/groups/{{group.custom_path if group.custom_path else group.id}}/edit">Edit</a></h1>
		{{group_nav(path, active="events", role=role)}}

		<div class="">
			<div class="sm:flex items-center">
			<h3 class="text-xl">Events </h3>
			{%if canCreate %}

				
				<a href="/create?group={{group.id}}" class="btn btn-blue text-sm sm:ml-8">Create Event</a>
			{%endif%}
			</div>
			<ul class="mt-4 list-disc ml-4">
				{%for event in events%}
					<li class="mb-2">
						<div>
							<a href="/events/{{event.slug}}" class="block text-blue-700 hover:underline">{{event.name}}</a>
							<span class="text-xs" data-controller="format-date" data-format-date-epoch="{{event.date}}" data-target="format-date.date">
								{{event.date}}
							</span>
						</div>
					</li>
				{%endfor%}
			</ul>
		</div>
	</div>
{%endblock%}
