{%extends "group_layout.njk"%}
{% from "partials/icons.njk" import icon %}
{%import "partials/form_messages.njk" as messages%}
{%from "partials/group_topnav.njk" import group_nav%}
{%block layout%}
		<div class=" mt-4 bg-pink-100 p-4">

			<a class="btn-link btn-purple text-xl mb-2 block" href="/groups/{{group.custom_path if group.custom_path else group.id}}/edit">{{icon("pencil", "mr-2")}}Edit Group</a>
			<div class="bg-red-200 border-red-600 p-2">
				<h2 class="text-xl">Danger Zone</h2>
				{%if canDelete %}
				<div class="mt-2">
					<p class="py-2">
					Deleting a group will delete all its associated events as well.
					Be careful.
					</p>
					<button class="btn btn-red" data-action="group-detail#requestDelete">Delete Group</button>
				</div>
				{% endif %}
			</div>
		</div>
{%endblock%}
