<div class="content container mx-auto">
	<h1 class="text-2xl"><%=group.name%></h1>
	<p>
	<%=group.description%>
	</p>

	<div class="border border-black mt-4 flex">
		<div class="md:w-3/4 p-4">
			<h3 class="text-xl">Events</h3>
			<ul class="mt-4">
				<%events.forEach((event)=>{%>
				<li class="mb-2">
					<a href="/events/<%=event.slug%>" class="text-white bg-black p-1 hover:underline"><%=event.name%></a>
				</li>
				<%})%>
			</ul>
		</div>
		<div class="md:w-1/4 border-l border-black p-4">
			<h3 class="text-xl">Members</h3>
		</div>
	</div>
</div>
