{%extends "layout.njk"%}
{% from "./partials/icons.njk" import icon %}
{%block content %}
	<div class="content mx-auto h-full flex flex-col" data-controller="group-detail" data-group-detail-id="{{group.id}}">
		<div class="p-4 py-8 welcome-section-bg-pink">
			<div class="container mx-auto">
				<h2 class="text-2xl font-bold"><span class="bg-white px-2 py-1">{{group.name}}</span></h2>
			</div>
		</div>
		<div class="container mx-auto sm:flex">
			<div class="sm:w-1/4 mr-2">
				{%block sidebar%}

					<div class="bg-pink-100 h-full pt-2 mt-4">

						<div class="border border-pink-200 bg-white mx-2 mt-2 text-sm">
							<ul>
								<li>
									<a href="{{path}}" class="cursor-pointer hover:underline text-green-900 border-b border-pink-200 block p-2 text-align-baseline"><span class="text-green-600">{{icon("home", "mr-1")}}</span>Discussion</a>
								</li>
								<li>
									<a href="{{path}}/events" class="cursor-pointer hover:underline text-green-900 border-b border-pink-200 block p-2"><span class="text-green-600">{{icon("calendar", "mr-1")}}</span>Events</a>
								</li>

								{%if canEdit %}
									<li>
										<a href="{{path}}/manage" class="cursor-pointer hover:underline text-green-900 block p-2"><span class="text-green-600">{{icon("settings", "mr-1")}}</span>Settings</a>
									</li>

								{%endif%}
							</ul>

						</div>
						<div class="border border-pink-200 bg-white mx-2 mt-2">
							<h3 class="text-md border-b border-pink-200 p-2 mb-2 text-gray-700 font-normal">
								About
							</h3>
							<div class="p-2 border-b-4 border-pink-400">
								{{group.description | safe}}
							</div>
						</div>
					</div>
				{%endblock%}
			</div>
			<div class="sm:w-3/4 sm:mr-4">
				{%block layout%}
				{%endblock%}
			</div>
		</div>
	</div>
{%endblock%}
