{%extends "layout.njk" %}
{%block content %}
	<div class="container mx-auto mt-4">
		<div class="sm:flex items-center">
			<h1 class="text-2xl">Your Groups</h1>
			<span class="hidden sm:inline mx-2">-</span>
			<a href="/groups/create" class="hover:underline text-blue-700"
															 >Create a group</a
														 >
		</div>
				<ul class="mt-4 list-disc list-inside">
					{%for group in groups %}
						<li class="mb-2">
							<a
								class="hover:underline text-blue-700"
								href="/groups/{{group.custom_path if group.custom_path else group.id}}"
								>{{group.name}}<a>
								<p class="mt-1 ml-6">{{group.description | safe}}</p>
						</li>
					{%endfor%}
				</ul>
	</div>
{%endblock%}
