{%extends "layout.njk"%}
{%import "partials/form_messages.njk" as messages%}
{%from "partials/event_detail/invite_to_event.njk" import invite_form%}
{%from "partials/group_topnav.njk" import group_nav%}
{%block content%}
	<div class="content container mx-auto h-full flex flex-col" data-controller="group-detail" data-group-detail-id="{{group.id}}">


		<h1 class="text-2xl flex items-center justify-center mt-4">
			<span id="group-name-span">{{group.name}}</span> 
			<span class="ml-2 align-middle">
				<span class="p-1 text-sm text-white bg-green-800 rounded align-middle">{{members.length}} {{"members" if members.length > 1 else "member"}}
				</span>
			</span>
		</h1>
		{{group_nav(path, role=role)}}
		<div class="flex flex-col flex-1">
			<div class="sm:flex flex-1">
				<div class="sm:w-2/3">

					{{invite_form(invitePath, canInvite, multiple=false, success_message="User added to group!")}}
					<div class="trix-c my-2">
						<details open>
							<summary class="cursor-pointer text-xl">Description</summary>
							{{description | safe}}
						</details>
					</div>
				</div>
				<div class="sm:w-1/3 mt-2 sm:pl-4 sm:border-l border-gray-200 sm:ml-2">
					<h2 class="mb-2 text-xl">Group Members</h2>
					<div id="management-message" data-turbolinks-permanent>
						{{messages.messages("management")}}
					</div>
					<ul class="">
						{%for member in members%}
							{%set idx = loop.index%}
							<li class="border-b border-gray-300">
								<span class="text-lg">{{member.name | default(member.email, true) | default(member.phone, true)}}</span>
								<span> - </span>
								{% if role === "admin" or role === "owner"%}
									<span class="italic">{{member.role}} </span>
									<button data-action="group-detail#toggleUpdate" class="text-blue-700 hover:underline" data-for="edit-{{member.id}}" data-target="group-detail.roleButton">change</button>
									<form data-action="input->group-detail#updateRole" data-user="{{member.id}}" class="hidden p-2 bg-gray-100 border-gray-500 border" id="edit-{{member.id}}" data-target="group-detail.roleForm">
										<fieldset>
											<legend class="font-bold">Select New Role</legend>
											{%for role in ["member", "moderator", "admin", "owner"]%}
											<div class="cursor-pointer">
												<input type="radio" value="{{role}}" {{"checked" if member.role === role}} name="role" id="role-{{role}}-{{idx}}" class="cursor-pointer">
												<label for="role-{{role}}-{{idx}}" class="cursor-pointer">
													{{role | capitalize}}
												</label>
											</div>
										{%endfor%}

										<button class="btn btn-red mt-2 text-xs" data-action="group-detail#removeMember" data-user="{{member.id}}">Remove From Group</button>
									</form>
								{%else %}
									<span class="italic">{{member.role}}</span>
								{%endif%}
							</li>
						{%endfor%}
					</ul>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
