{% extends "layout.njk" %}
{% from "./partials/icons.njk" import icon %}
{%block content%}
	<div class="container mx-auto content max-w-3xl">
		<div class="mt-4">
			<div class="items-center mb-4 flex">
				<h2 class="text-2xl font-bold">Upcoming events</h2>
				<a href="/events" class="text-blue-700 text-sm hover:underline ml-auto mr-4">{{icon("search", "mr-2")}}Find Events</a>
			</div>
			{{eventsList(events, user=user)}}
			{%if not events.length %}
				<a href="/create" class="btn btn-blue text-xl mt-2 inline-block">Create One!</a>
			{%endif%}
		</div>
	</div>
{%endblock%}
{%macro tzLi(date, colors, index)%}
{%set idx = index % colors.length %}
<li class="{{"hidden" if not date}} {{colors[idx]}} text-xl font-bold list-none border-l-4 pl-4 mt-2 border mb-2"
		{%if not date %}
			data-target="event-list.titleTemplate" data-new-target="event-list.dayTitle"
																					 {%else%}
																							 data-target="event-list.dayTitle"
																						 {%endif%}
																							 >{{date_tz.format(date, "PP") if date}}</li>
{%endmacro%}
{%macro eventsList(events, format=date.format, showDate=true, showDescription=true, user=null)%}
{%set colors = "border-green-200,border-purple-200,border-blue-200, border-orange-200,border-black".split(",")%}
<ul class="" data-controller="event-list" data-target="event-list.parent" data-event-list-colors="{{colors | join(",")}}" data-event-list-user-tz="{{user.settings.timezone}}">
	{{tzLi()}}
	{%set lastDate = null%}
	{%set index = 0%}
	{% for event in events %}
		{%if user.settings.timezone%}
			{% set newGroup = false %}
			{% set day = date_tz.utcToZonedTime(event.date, user.settings.timezone)%}
			{%if date.getDayOfYear(day) !== lastDate%}
				{{tzLi(day, colors, index)}}
				{%set lastDate = date.getDayOfYear(day)%}
				{%set index = index + 1%}
				{%set newGroup = true %}
			{%endif%}
		{%endif%}
		<li class="flex {{"pl-8" if not showDate}} {{"border-t-2 border-gray-300" if showDate and not newGroup}}" data-target="event-list.event" data-date="{{event.date}}">

			{%- if showDate %}

			<div class="flex items-center px-2 border-r-2 border-gray-200 bg-gray-100 w-3/12 justify-end">
				<span
					data-controller="format-date"
					data-format-date-epoch="{{event.date}}"
					data-format-date-format-string="p"
					data-target="format-date.date">

					{{format(event.date, "pp")}}</span>
			</div>
		{%endif%}
		<div class="flex-1 {{"pl-2" if showDate}}">
			<a
				href="/events/{{event.slug}}"
				class="text-blue-700 hover:underline"
				>

				<h3 class="text-lg">
					<span>
						{{event.name}}
					</span>
				</h3>
			</a>
			</h3>
			{%if showDescription%}
				<details>
					<summary class="cursor-pointer bg-gray-100 px-2">Details</summary>
					<div>
						<div class="trix-c">{{event.description | safe}}</div>
					</div>
				</details>
			{%endif%}
		</div>
		</li>
	{%else%}
		No events found

	{%endfor%}

</ul>
{%endmacro%}
