{% extends "layout.njk" %}
{%block content%}
	<div class="container mx-auto content max-w-3xl">
		<div class="sm:flex">
			<div class="mt-4 sm:w-2/3">
				<div class="items-center mb-4">
					<h2 class="text-2xl font-bold">Upcoming events</h2>
					{%if flags.manageEvents%}
						<a href="/my-events" class="text-blue-700 hover:underline sm:text-xs ml-auto mr-4 text-xl"><i class="fas fa-sliders-h"></i> Manage Events</a>
					{%endif%}
				</div>
				{{eventsList(events)}}
			</div>

			<div class="mt-4 sm:w-1/3 border border-gray-300 p-2 sm:ml-4">
				<h2 class="text-2xl font-bold mb-4">Past events</h2>
				{{eventsList(past, showDate=false, showDescription=false)}}
			</div>
		</div>
	</div>
{%endblock%}
{%macro tzLi(date, colors, index)%}
{%set idx = index % colors.length %}
<li class="{{"hidden" if not date}} {{colors[idx]}} text-xl font-bold list-none border-l-4 pl-4 mt-2 border"
		{%if not date %}
	data-target="event-list.titleTemplate" data-new-target="event-list.dayTitle"
		{%else%}
	data-target="event-list.dayTitle"
		{%endif%}
		>{{date_tz.format(date, "PP") if date}}</li>
{%endmacro%}
{%macro eventsList(events, format=date.format, showDate=true, showDescription=true)%}
{%set colors = "border-green-200,border-purple-200,border-blue-200, border-orange-200,border-black".split(",")%}
<ul class="list-disc" data-controller="event-list" data-target="event-list.parent" data-event-list-colors="{{colors | join(",")}}" data-event-list-user-tz="{{user.settings.timezone}}">
	{{tzLi()}}
	{%set lastDate = null%}
	{%set index = 0%}
	{% for event in events %}
			{%if user.settings.timezone%}
			{% set day = date_tz.utcToZonedTime(event.date, user.settings.timezone)%}
			{%if date.getDayOfYear(day) !== lastDate%}
				{{tzLi(day, colors, index)}}
				{%set lastDate = date.getDayOfYear(day)%}
				{%set index = index + 1%}
			{%endif%}
			{%endif%}
		<li class="py-2 ml-8" data-target="event-list.event" data-date="{{event.date}}">
			<h3 class="text-lg">
				<a
					href="/events/{{event.slug}}"
					class="text-blue-700 hover:underline"
					>{{event.name}}
					{%- if showDate %}
					<span> - </span>
					<span
						data-controller="format-date"
						data-format-date-epoch="{{event.date}}"
						data-format-date-format-string="p"
						data-target="format-date.date">{{format(event.date, "pp")}}</span>
				{%endif%}
				</a>
			</h3>
			{%if showDescription%}
				<details>
					<summary class="cursor-pointer bg-gray-100 px-2">Details</summary>
					<div>
						<div class="trix-c">{{event.description | safe}}</div>
					</div>
				</details>
			{%endif%}
		</li>
	{%else%}
		No events found

	{%endfor%}

</ul>
{%endmacro%}
