<html>
	<head>
		<title><%=locals.title%> Events</title>
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script src="/static/js/index.js"></script>
	</head>
	<body>
		<%-include("partials/header")%>
		<%-include(__body)%>
		<%-include("partials/footer")%>
	</body>
</html>

