<!DOCTYPE html>
<html lang="en">
  <head>
    {%macro title()%}{%block title%}{%endblock%}{%endmacro%}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="{{title()}} Juniper City" property="og:title" />
		<meta property="og:image" content="https://junipercity.com/static/img/logo.png" />
		<meta property="og:description" content="Juniper City is the best place to create your personal events." />



		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
		<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#9ae6b4">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

    <title>
      {{title()}} Juniper City
    </title>
    <link rel="stylesheet" href="/static/css/main.css" />

    {%block css%}{%endblock%}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <script src="/static/js/index.js" async></script>
  </head>
  <body>
    {%include "partials/header.njk"%}
    <main class="content {%block extraClass%}{%endblock%}">
      {%block content%}{%endblock%}
    </main>
    {%include "partials/footer.njk"%} {%include "partials/tracking.njk"%}
  </body>
</html>
