{%extends "layout.njk"%}
{%block title}Login{%endblock%}
{%block content %}
	<div class="container mx-auto login-container">
		<h1 class="text-xl">We sent a login code to your {{codeSource}}</h1>

		<form method="POST" action="/api/login/otp" class="mt-4">
			<label>
				Enter Code
			</label>
			<div >

				<input 
							type="text" 
							name="code" 
							pattern="[0-9]{6}"
							class="border border-gray-500 w-full p-1 text-xl" 
							minlength="6" maxlength="6" required/>
				<button type="submit" class="btn btn-green w-full mt-2">
					Login
				</button>
			</div>

		</form>
	</div>
	</body>

{%endblock%}
