<html>
	<head>
		<title>SLC Mutual Aid Requests</title>
		<link rel="stylesheet" href="{{cssPath}}" data-turbolinks-track="reload"/>
		<script src="{{jsBundlePath}}" async data-turbolinks-track="reload"></script>
		<style>
.request-list-grid {
	display:grid;
	grid-template-columns:.2fr .5fr .5fr .5fr 1fr .5fr;
}
							.extras-grid {
								display: grid;
								grid-gap:20px;
								grid-template-columns: .2fr 1fr;
							}
		</style>
	</head>
	<body class="h-full">
		<div class="bg-orange-200 h-full">
			<main class="content container mx-auto">
				<h1 class="text-2xl mt-4 mb-4">Salt Lake Valley COVID Mutal Aid Requests</h1>
				<div class="bg-green-400 p-4">
					{%set activeClass = "bg-green-100 text-black font-bold" %}
					<ul class="flex border-b border-white mb-4 text-lg">
						<li class="mr-2 border border-white {{activeClass if active == "unclaimed"}}"><a class="p-2" href="/mutual-aid">Unclaimed Requests</a></li>
						<li class="mr-2 border border-white {{activeClass if active == "pending"}}"><a class="p-2" href="/mutual-aid?status=active">Active Requests</a></li>
						<li class="border border-white {{activeClass if active == "completed"}}"><a class="p-2" href="/mutual-aid?status=complete">Complete Requests</a></li>
					</ul>
					<div class="">
						<div class="request-list-grid font-bold mb-2 border-b border-green-200">
							<div class="mr-2">
								Request ID
							</div>
							<div class="mr-2 text-lg">
								Volunteer
							</div>
							<div class="mr-2 text-lg">
								Area
							</div>
							<div class="text-lg">
								Name
							</div>
							<div class="text-lg">
								Contact Info
							</div>
							<div class="text-lg">
								Status
							</div>
						</div>
						<ul >
							{%for request in data %}
								{% if loop.index0 % 2 == 0 %}
									{%set bg="bg-green-300"%}
								{%else%}
									{%set bg=""%}
								{%endif%}
								<li class="border-b border-green-200 p-2 {{bg}}" data-controller="mutual-aid-request" data-mutual-aid-request-data="{{request | dump}}" id="request-id-{{request.id}}">
									<div class="request-list-grid">
										<div class="mr-2">
											{{request.id}}
										</div>
							<div class="mr-2 text-lg">
								<input type="text" value="{{request.volunteer}}" class="input w-full" placeholder="Put name here to claim" data-action="input->mutual-aid-request#updateName" autocomplete="off" data-target="mutual-aid-request.name" {{"disabled" if active == "completed"}}/>
								<button class="hidden btn btn-blue mt-2 mb-2" data-target="mutual-aid-request.saveName" data-action="mutual-aid-request#save">Save</button>
							</div>
							<div class="mr-2">
								{{request.area}}
							</div>
							<div>
								{{request.name}}
							</div>
							<div>
								{{request.contact}}
							</div>
							<form data-target="mutual-aid-request.statusForm">
								<div>
									<label for="status-pending-radio">Pending</label>
									<input type="radio" name="status" value="pending" {{"checked" if request.isPending}} id="status-pending-radio" data-action="mutual-aid-request#updateStatus" autocomplete="off"/>
								</div>
								<div>
									<label for="status-complete-radio">Complete</label>
									<input type="radio" name="status" value="complete" {{"checked" if request.isComplete}} id="status-complete-radio" data-action="mutual-aid-request#updateStatus" autocomplete="off"/>
								</div>
								<div>
									<button class="btn btn-blue hidden" data-action="mutual-aid-request#saveStatus" data-target="mutual-aid-request.saveStatus">Save</button>
								</div>
							</form>
									</div>
									<details class="ml-4">
										<summary class="cursor-pointer text-blue-700">
											Details
										</summary>
										<div class="bg-white p-2 mb-4">
											{%for extra in request.extraItems %}
												{%if request[extra.key] %}
													{% if extra.important %}
														{%set imp = "font-bold text-red-500"%}
													{%else %}
														{%set imp = "" %}
													{%endif%}
													<div class="extras-grid mb-2 {{imp}}">
														<div class="bold text-sm text-gray-800 mr-4 {{imp}}">
															{{extra.name}}
														</div>
														<div>
															{{request[extra.key]}}
														</div>
													</div>
												{%endif%}
											{%endfor%}
										</div>
									</details>
								</li>
							{%endfor%}
						</ul>
					</div>
				</div>
			</main>
		</div>
 {%include "partials/tracking.njk"%}
	</body>
</html>
