{%extends "layout.njk"%}
{%import "partials/form_messages.njk" as messages%}
{%block content%}
	<div class="container mx-auto">
		<div class="sm:mx-auto sm:w-1/2 bg-gray-200 border-gray-700 p-4">
			<h1 class="text-2xl font-bold text-center">Settings</h1>

			<form data-controller="user-settings" data-target="user-settings.form" data-action="user-settings#saveSettings" autocomplete="off">
				<div class="mb-4">
					{{messages.messages("user-settings")}}
				</div>
				<div>
					<label class="font-bold text-lg">Name
						<input class="w-full input" value="{{user.name}}" placeholder="Name" name="name"/>
					</label>
				</div>

				<div class="mt-4">
					<label class="font-bold text-lg">Email
						<input class="w-full input" value="{{user.email}}" placeholder="Email" name="email"/>
					</label>
					{{"You will be asked to verify your email after you save" if not user.email}}
				</div>


				<div class="mt-4">
					<label class="font-bold text-lg">Phone
						<input class="w-full input" value="{{phone}}" placeholder="Phone" name="phone"/>
					</label>
					{{"You will be asked to verify your phone after you save" if not user.phone}}
				</div>
				<div class="mt-4">
					<label class="font-bold text-lg">
						Time Zone
						<select class="input w-full" name="timezone">
							{%for zone in timezones %}
								<option value="{{zone}}" {{"selected" if user.settings.timezone === zone}}>{{zone | replace("_", " ")}} {{now() | tzOffset(zone, "OOO")}}</option>
							{%endfor%}
						</select>
					</label>
				</div>

				<div class="mt-4">
					<button type="submit" class="btn btn-green" >Save Changes</button>
				</div>
			</form>
		</div>
	</div>
{%endblock%}
