{%extends "layout.njk"%}
{%block title%}Verification Success{%endblock%}
{%block content%}
	<div class="container mx-auto text-xl">
		<p class="">Your {{"email" if validation.email else "phone" | capitalize}} was successfully validated!</p>

		<div>
			<a href="/settings" class="underline text-blue-700">Go back to settings</a>
		</div>
	</div>
{%endblock%}
