{%extends "layout.njk"%}
{%block content%}
	<div class="container mx-auto text-xl">
		<p>Something went wrong validating. The validation has expired or the link is incorrect</p>
		<p>You can <a href="/settings" class="underline text-blue-500">Back to settings</a> and try again</p>
	</div>
{%endblock%}
