{%extends "layout.njk"%}
{%from "homepage.njk" import eventsList %}
{%block content %}
<div class="container content mx-auto">
  <div class="text-xl">
    <section class="text-center bg-gray-100 py-4 border border-green-400">
      <h1 class="font-bold text-4xl">Welcome</h1>
      <p>
        Juniper City is the easiest way to create and invite people to your
        event.
      </p>
      <p>
        <a href="/create" class="text-blue-700 underline">Create your event</a> with just a
        name and a date.
      </p>
      <p>
        You can invite anyone with only an email or phone number.
      </p>
      <p>No need for them to sign up!</p>
      <div class="mt-8">
        <a
          href="/create"
          class="btn btn-green text-2xl"
          >Get Started Now</a
        >
      </div>
      <a href="/help" class="underline text-blue-500 mt-5 text-xs block"
        >Visit our help and guides to learn more</a
      >
    </section>
    <section class="mt-8">
			<h2 class="font-bold text-xl">Public events</h2>
			{{eventsList(events, format=date.format)}}
    </section>
  </div>
</div>
{%endblock%}
