{%extends "layout.njk"%}
{%from "homepage.njk" import eventsList %}
{%block content %}
	<div>
		<div class="text-xl relative">
			<section class="py-16 mt-2 text-center lg:text-left flex h-full banner-green overflow-hidden relative">
				<div class="container mx-auto items-center flex">
					<div class="flex-1 p-4 ">
						<h1 class="font-bold text-6xl p-1 bg-juniper-city banner-green lg:bg-juniper-city-none banner-text lg:banner-text-none bg-juniper-city-repeat"><span class="lg:inline block">Juniper</span> City!</h1>
						<p class="p-1 mt-4">
						Juniper City is the easiest way to create and invite people to your
						event.
						</p>
						<div class="mt-8">
							<a
								href="/create"
								class="btn btn-blue text-2xl"
								>Get Started Now</a
							>
						</div>
					</div>
					<div class="w-1/3 hidden lg:block">
					</div>
					<div class="w-1/3 absolute top-0 right-0 hidden lg:block opacity-75">
						<img src="/static/img/junipercity.png" />
					</div>
				</div>
			</section>
			<section class="flex text-xl p-4 items-center py-16 relative welcome-section-bg-purple text-purple-100">
				<div class="container mx-auto sm:flex items-center">
					<div class="flex-1">
						<p class="p-1 mt-4 mr-4">
						<a href="/create" class="underline  p-1">Create your event</a> with just a
						name and a date.
						</p>
					</div>
					<div class="w-2/3 relative">
						<a href="/static/img/help/create-event-form.png">
							<img src="/static/img/help/create-event-form.png" />
						</a>
					</div>
				</div>
			</section>
			<section class="flex text-xl p-4 items-center">
				<div class="sm:flex container mx-auto items-center">
					<div class="w-2/3 mr-4">
						<a href="/static/img/help/invite-people-to-event-form.png"><img src="/static/img/help/invite-people-to-event-form.png" /></a>
					</div>
					<div>
						<p class="p-1 mt-4">
						You can invite anyone with only an email or phone number.
						</p>
						<p class="p-1 mt-4">No need for them to sign up!</p>
					</div>
				</div>
			</section>
			<section class="flex text-xl p-4 bg-blue-300 items-center">
				<div class="container mx-auto sm:flex items-center">
					<div class="flex-1">
						<p class="p-1 mt-4 mr-4">
						The people you invite will get an email or text. They can RSVP right in their email inbox in supported email clients.
						</p>
					</div>
					<div class="w-1/2">
						<div class="flex items-center">
						<a href="/static/img/help/invite-example-in-email.png"><img src="/static/img/help/invite-example-in-email.png" /></a>
						<a href="/static/img/help/text-example-invite.png"><img src="/static/img/help/text-example-invite.png" /></a>
						</div>
					</div>
				</div>
			</section>
			<section class="container mx-auto mb-4 text-xl">
				<p class="mt-5">
				<a href="/help" class="underline text-blue-700 mt-5 p-1">Visit our help and guides to learn more</a>
				</p>
			</section>

		</div>
	</div>

{%endblock%}
