<footer class="py-5">
	<div class="container mx-auto mb-8 sm:mb-0">
    <div class="sm:flex justify-between">
      <div>
				<a href="/help" class="underline">Help and guides</a>
				<div>
					<a href="/art" class="underline">Art</a>
				</div>
        <div>
          &copy; 2019 DropConfig
        </div>
			</div>
      <div>
        Contact:
        <a href="mailto:friends@junipercity.com" class="hover:underline"
          >friends@junipercity.com</a
        >
      </div>
    </div>
  </div>
</footer>
