<footer class="py-5">
  <div class="container mx-auto">
    <div class="sm:flex justify-between">
      <div>
        &copy; 2019 DropConfig
      </div>
      <div>
        Contact:
        <a href="mailto:friends@dropconfig.com" class="hover:underline"
          >friends@dropconfig.com</a
        >
      </div>
    </div>
  </div>
</footer>
