{%macro messages(id, autoHide, classes="")%}
<div
  data-controller="form-messages"
  data-form-messages-form-id="{{id}}"
  data-form-messages-auto-hide="{{autoHide}}"
	data-action="form:success@document->form-messages#success form:error@document->form-messages#error form:hide@document->form-messages#hide form:info@document->form-messages#info"
>
  <div
    data-target="form-messages.success"
		class="p-1 bg-green-300 border-l-4 border-green-500 hidden {{classes}}"
		></div>
  <div
    data-target="form-messages.info"
		class="p-1 pl-4  bg-purple-600 border-l-4 border-pink-600 hidden  rounded-tr rounded-br text-white {{classes}}"
  ></div>
  <div
    data-target="form-messages.error"
		class="p-1 bg-red-300 border-l-4 border-red-500 hidden {{classes}}"
  ></div>
</div>
{%endmacro%}
