<header class="border-b-2 border-green-500 mb-4">
	<nav class="container mx-auto py-2 flex justify-between items-center">
		<ul class="flex">
			<li class="mr-2">
				<a href="/" class="text-lg hover:underline">Home</a>
			</li>

			<%if(loggedIn){%>
			<li class="border-l border-black px-2">
				<a href="/create" class="text-lg hover:underline">Create Event</a>
			</li>
			<li class="pl-2 border-l border-black">
				<a href="/groups" class="text-lg hover:underline">Groups</a>
			</li>

			<%}%>
		</ul>
		<%if(!loggedIn){%>
		<div>
			<a href="/login" class="text-lg hover:underline">Login</a>
		</div>
		<%}%>
	</nav>
</header>
