<header class="border-b border-gray-400 mb-4">
	<nav class="container mx-auto py-2">
		<ul>
			<li>
				<a href="/" class="text-blue-500 text-lg hover:underline">Home</a>
			</li>
		</ul>
	</nav>
</header>
