<div>
	<a href="/settings" class="text-lg hover:underline">Account &#x25bc;</a>
	<ul>
		<li>
			<button
				data-controller="logout"
				data-action="logout#logout"
				class="text-lg hover:underline"
				>
				Logout
			</button>
		</li>
	</ul>
</div>
