{%import "partials/form_messages.njk" as messages %}
{%macro invite_form(path, canInvite, multiple=true, success_message="Invite Sent!")%}
<div data-controller="invite-to" data-invite-to-path="{{path}}" data-invite-to-multiple="{{multiple}}" data-invite-to-success-message="{{success_message}}">

	{%if(canInvite)%}
		<div class="my-4" data-target="invite-to.canInviteButton">
			<button
				class="btn btn-green text-lg w-full sm:w-auto"
				data-action="invite-to#toggleInviteForm"
				>
				Invite People
			</button>
		</div>

	{%endif%}
	<div data-target="invite-to.hideContainer" class="hidden mt-4 bg-gray-100  border border-gray-400 ">
		{%if caller %}
			{{caller()}}
		{%endif%}
	<form
		class="p-4"
		data-target="invite-to.inviteForm"
		data-action="invite-to#sendInvite reset->invite-to#toggleInviteForm input->invite-to#inviteChange"
		>
		<div class="mb-2">
			{{messages.messages("invite", 4000)}}
		</div>
		<p class="text-xl font-bold mb-2">Send an invite by email or phone</p>
		<div class="flex flex-col">
			<label class="font-bold" for="name">
				Name of person to invite
				<span class="font-normal text-xs">(Optional)</span>
			</label>
			<input id="name" type="text" name="name" class="input" placeholder="Name" />
		</div>
		<fieldset class="mt-2">
			<legend class="required-text font-bold">Send invite using</legend>
			<label for="invite-using-email-radio" class="cursor-pointer">Email</label>
			<input type="radio" name="method" value="email" id="invite-using-email-radio" data-action="invite-to#selectMethod" checked/>
			<label for="invite-using-sms-radio" class="cursor-pointer">Text Message</label>
			<input type="radio" name="method" value="phone" id="invite-using-sms-radio" data-action="invite-to#selectMethod"/>
		</fieldset>

		<div class="mt-2 flex flex-col" data-target="invite-to.emailField">
			<label class="font-bold sr-only" for="email">
				Email
			</label>
			<input
				id="email"
				type="email"
				name="email"
				class="input"
				data-target="invite-to.emailInput"
				placeholder="Email"
				required
				/>
		</div>
		<div class="mt-2 flex flex-col hidden" data-target="invite-to.phoneField">
			<label class="font-bold sr-only" for="phone">
				Phone
			</label>
			<input
				id="phone"
				type="tel"
				data-target="invite-to.phoneInput"
				name="phone"
				class="input"
				required
				placeholder="Phone"
				/>
		</div>
		<div class="mt-4">
			<button class="btn btn-green" type="submit">
				Send Invite
			</button>
			<button class="btn btn-white" type="reset">
				Cancel
			</button>
		</div>
	</form>
	</div>
</div>
{%endmacro%}
