	{%if isCreator %}
		<p class="mt-1 mb-1">
		<span class="bg-yellow-400 p-1 text-xs text-yellow-900 font-bold">
			{%if event.is_private %} <i class="fas fa-eye-slash"></i> This event is private. Only you and the
			people you invite can see it. {%else%} <i class="fas fa-eye"></i> This event is public. Anyone
			can see it. It can appear on the homepage. {%endif%}
		</span>
		</p>
	{%endif%}

	<div class="flex items-center">
		<h1 class="font-bold text-3xl">{{event.name}}</h1>
	</div>
	{%if event.location %}
		<h2 class="text-lg" aria-label="Location" title="Location">
			<i class="fas fa-map-marker-alt" aria-hidden="true"></i
			><span class="ml-2">{{event.location}}</span>
		</h2>
	{%endif%}
	<div class="">
		<div class="text-lg" aria-label="Time">
			<i class="fas fa-calendar-day"></i>
			<span
				data-controller="format-date"
				data-format-date-epoch="{{event.date}}"
				data-target="format-date.date">{{date.format(date.fromUnixTime(event.date/1000), "PPpp OOOO")}}</span>
			{%if event.end_date%}
				<span> - </span>
			<span data-controller="format-date"
						data-format-date-epoch="{{event.end_date}}"
						data-format-date-format-type="time-if-same-day"
						data-format-date-compare="{{event.date}}"
						data-target="format-date.date">{{date.format(date.fromUnixTime(event.date/1000), "PPpp OOOO")}}</span>
			{%endif%}
		</div>
	</div>
		<a href="/events/{{event.slug}}.ics" class="text-blue-700 hover:underline text-sm sm:ml-5">Add to Calendar</a>
