{%macro event_nav(path, commentCount, active, allowDiscussion = false, canEdit=false, isCreator=false, canInvite=false)%}
{% from "../icons.njk" import icon %}
{%set inactiveClass = "text-purple-700 hover:bg-purple-500 hover:text-white"%}
{%set activeClass = "bg-purple-800 text-white " %}
{%set tabs = [
{name: "Info", icon: "info", active: "base", path:"", show:true},
{name: "Share", icon: "share", active: "share", path:"/share", show: canInvite},
{name: "Responses", icon: "mail-in", active: "responses", path:"/responses", show: isCreator},
{name: "Discussion", icon: "comments", active: "discussion", path:"/discussion", show: allowDiscussion},
{name: "Settings", icon: "tools", active: "manage", path:"/settings", show: canEdit}
]%}

<ul class="flex border-b-4 border-purple-800 text-sm mt-4 text-lg mt-8">
	{%for tab in tabs %}
		{% if tab.show %}
			<li class="text-center flex-1 md:flex-none">
				<a
					class="{{activeClass if active === tab.active else inactiveClass}} flex items-center sm:flex-row flex-col md:px-5 py-1 px-2"
					href="{{path}}{{tab.path}}"
					>{{icon(tab.icon, "sm:mr-2")}}<span class="sm:text-lg text-xs mt-1 sm:mt-0 sm:inline">{{tab.name}}</span></a>
			</li>
		{%endif%}
	{%endfor%}
	
</ul>
{%endmacro%}
