{%macro event_nav(path, commentCount, active, allowDiscussion = false, canEdit=false, isCreator=false)%}
{% from "../icons.njk" import icon %}
{%set inactiveClass = "text-purple-700 px-5 py-2 hover:bg-purple-500 hover:text-white"%}
{%set activeClass = "bg-purple-800 text-white px-5 py-2" %}

<ul class="flex border-b-4 border-purple-800 text-sm mt-4 sm:text-lg text-xs mt-8">
	<li class="mr-1 pl-2 text-center">
		<a
			class="{{activeClass if active === "base" else inactiveClass}} flex items-center"
			href="{{path}}"
			>{{icon("info", "mr-2")}}Info</a>
	</li>
	{%if isCreator %}
		<li class="mr-1 text-center relative">
			<a class="{{activeClass if active === "responses" else inactiveClass}} flex items-center"
				 href="{{path}}/responses">
				{{icon("mail-in", "mr-2")}}Responses
			</a>
		</li>
	{%endif%}
	{%if allowDiscussion%}
		<li class="mr-1 text-center relative">
			<a
				class="{{activeClass if active === "discussion" else inactiveClass}} flex items-center"
				href="{{path}}/discussion"
				>{{icon("comments", "mr-2")}}Discussion</a>
		</li>
	{%endif%}
	{%if canEdit %}
		<li class="">
			<a class="{{activeClass if active === "manage" else inactiveClass}} flex items-center"
				 href="{{path}}/settings">{{icon("tools", "mr-2")}}Settings</a>
		</li>
	{%endif%}
</ul>
{%endmacro%}
